.start-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.start-menu.open{
    transform: translateY(-100%);
}

/* 시작버튼 메뉴 스타일 */
.start-button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* 응용 프로그램 목록 스타일 */
.program-left{
    list-style: none;
    padding: 0;
}

.program-left li{
    padding: 10px;
    cursor: pointer;
}

.program-left li:hover{
    background-color: #555;
}

